.taskContainer {
  text-align: center;
  padding: 10px;
  border: 1px solid #dfdfdf;
  margin: 10px;
  background: orange;
  cursor: pointer;
  position: relative;
}

.taskContainer > span:last-child {
  position: absolute;
  top: 0px;
  right: 4px;
  font-weight: bold;
  width: 15px;
}